nav a
#hero-msg h1, #hero-msg h4
.button-box
main section
/**/

#background {
    height: 725px;
}
/*background's height is adjusted to 725px*/


body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}
/*body, header, and nav background colors are adjusted.*/

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    
/*interactive tool that'll work when user's cursor rests on the navigation panel.*/

.icon {
    width: 80px;
}
/*icon's width are adjusted.*/

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
/*navigation panel is centered, font color is white, and there aren't any text-decoration.*/

footer p {
    font-size: 1.2em;
}    
/*footer's font-size is adjusted*/

footer p a:hover {
    text-decoration: underline;
}    
/*footer now has an interactive tool that'll underline the text once the cursor is rested on it.*/
























/*h1{
    color: blue; 
    text-align: center;
    font-size: 25px;
    background-color: white;
}*/
/*headline is centered, its font-size is 25 pixels, and its color is blue.*/

/*body{
    background-color: lightblue;
}*/
/*backgroung of the body element is lightblue.*/

/*p{
    background-color: white;
    font-size: 12px;
    color: blue;
    margin-top: 35px;
}*/
/*paragraph's background color is white, its font-size is 12 pixels, and its color is blue.*/

/*div{
    height: 200px;
    width: 50%;
    background-color:navy;
}*/
/*div is */

/*img{
    margin: auto;
    width: 60%;
}*/
/*image's margin will automatically size itself and its width is 69%*/

/*.center{
    margin: auto;
    width: 60%;
    border: 4px solid black;
    padding: 10px;
}*/
/*this centers the the page.*/

div{
    max-width: 1600px;
}
/**/

a:hover {
    background-color: white;
    color: steelblue;
}