#content{
    max-width: 1600px;
    text-align: center;
    margin :0 auto;
}
/*Max Width of elements in ID "content" are set to 1600 px.
Texts and Images in "content" ID are Centerred.*/

nav a{
    text-align: center;
    background-color: white;
    color: navy;
    text-decoration: none;
}
/*Hyperlinks in Navigation Panel are Centerred.*/
nav a:hover{
    background-color:navy;
    color:white;
}
/*hovering Navigation Panel turns Background Color to Navy and Font Color to White.*/

#hero-msg{
    text-align: center;
} 
/*elements in ID "hero-msg" are Centerred.*/

h1{
    text-align: center;
} 
/*Title is Centerred.*/

#hero-msg{
    text-align: center;
} 
/*elements in ID "hero-msg" are Centerred.*/

h4{
    text-align: center;
}
/*Headline #4 is Centerred.*/

.button-box{
    text-align: center;
}
/*elements in Class "button-box" are Centerred.*/

main section{
    text-align: center;
}
/*elements in the Main section are Centerred.*/

#background {
    height: 725px;
    background-color: white;
    color: navy;
}
/*Background has a height of 725px.*/

body{
    background-color: navy;
    color: white;
}
/*BODY's Background Color is adusted to Navy.*/

header{
    background-color: white;
    font: navy;
}
/*This adjusts HEADER's Background Color to White and Font Color to Navy.*/

.book{
    background-color: navy;
    color: white;
}
/*Class "book" has a Background Color of Navy and Font Color of White.*/
.book hover{
    background-color: white;
    color: navy;
}
/*when Hovering, Class "book" changes to having a Background Color to White and Font Color to White.*/

.join{
    background-color: navy;
    color: white;
}
/*Class "join" has a Navy Background Color and White Font Color.*/

.msg{
    background-color: white;
    color: navy;
}
/*Class "msg" has a Background Color that's White and Font Color of Navy.*/

footer{
    background-color: blue;
    color: white;
}
/*Footer has a Blue Background Color and White Font Color.*/
footer p {
    font-size: 1.2em;
}    
/*The Paragraph in Footer is 1.2em.*/
footer p a:hover {
    text-decoration: underline;
}    
/*When Hovering, Footer's Paragraph will Underline.*/

.icon {
    width: 80px;
}
/*Class "icon" has Width of 80 px.*/