img {
    width: 80%;
}
/*This increases the Image's width in the Main section of BODY by 80%.*/

p {
    width: 80%;
}
/*This increases the Paragraph in the Main section of the BODY by 80%.*/

a {
    font-size: 1.5em;
}
/*This increases the Font Size for the Hyperlinks in the NAVigation Panel.*/