body{
    background-color: #FCA6C9ff;
    margin: 0 auto;
}
/*The Background Color of the Webpage is now Pink.*/
/*This aligns the Texts and Images in the BODY to the center.*/

    header h1{
        color: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        text-align: center;
    }
    /*This makes a lot of adjustments for the Title in the Header.*/
    h1:hover{
        color: black;
    }
    /*This makes the Title change its colors to Black when it's hovered by the Cursor.*/

    #quote{
        color: white;
        width: 25%;
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
    }
    /*This adjusts the color for the Paragraph, which is in the Main element of Body.*/

    main h2{
        color: white;
        font-size: 35px;
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 15%;
        font-weight: normal;
    }
    /*This adjusts the color for the Second Headline.*/

    main h3{
        color: white;
        font-family: serif;
        font-weight: bold;
        text-align: center;
    }
    /*The Third Headline in Main has an adjusted font-color of White.*/

    .list{
        color: black;
        display: block;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 15px;
        text-align: center;
    }
    /*This colors the Font Color of List to White.*/

    img {
        width: 10%;
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    /*This adjusts the Width, Display, and Margin of the Images.
    The Width is 80%
    The Image is in a Block
    The Margin centers the Image.
    X doesn't make a difference if it's inline or block X.*/

    footer {
        margin: 0 auto;
        text-align: center;
        color: black;
        font-family:Arial, Helvetica, sans-serif;
    }
    /*Centers the Footer, which is a separate element in Body.*/
    .first-f{
        margin-top: 30px;
        margin-bottom: 0%;
    }
    /**/
    .second-f{
        margin-top: 0%;
        margin-bottom: 0%;
    }
    /*This prevents the space between*/
    .third-f{
        margin-top: 0%;
    }