.content2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
}
/*I haven't a clue what this is class is for. I believe it serves as a Parent element???*/

    .red2{
        background-color: red;
        width: 100%;
        height: 225px;
        grid-area: 1/1/2/2;
        justify-self:initial;
        align-self: initial;
    }
    /*This puts the Red box with the right Measurements on the top-right corner.*/

    .green2{
        background-color: green;
        width: 100%;
        height: 225px;
        grid-area: 2/2/3/3;
        justify-self: initial;
        align-self: initial;
    }
    /*The Green box is suppose to be angling below the Red Box with the same Measurements.*/

    .yellow2{
        background-color: yellow;
        width: 100%;
        height: 225px;
        grid-area: 3/3/4/4;
        justify-self: initial;
        align-self: initial;
    }
    /*The Yellow box is suppose to be angling below the Green box with the same Measurements.*/

    .blue2{
        background-color: blue;
        width: 100%;
        height: 225px;
        grid-area: 4/4/5/5;
        justify-self: initial;
        align-self: initial;
    }
    /*The Blue box is suppose to be angling below the Blue box with the same Measurements.*/