.content6{
    display: grid;
}
/**/

.red6{
    background-color: red;
}
/**/

.green6{
    background-color: green;
}
/**/

.yellow6{
    background-color: yellow;
}
/**/

.blue5{
    background-color: blue;
}
/**/