.content2{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
/*I haven't a clue what this is class is for. I believe it serves as a Parent element???*/

.red2{
    background-color: red;
    position: relative;
    width: 25%;
    height: 225px;
}
/*This puts the Red box with the right Measurements on the top-right corner.*/

.green2{
    background-color: green;
    position: sticky;
    width: 25%;
    height: 225px;
}
/*The Green box is suppose to be angling below the Red Box with the same Measurements.*/

.yellow2{
    background-color: yellow;
    position: relative;
    width: 25%;
    height: 225px;
}
/*The Yellow box is suppose to be angling below the Green box with the same Measurements.*/

.blue2{
    background-color: blue;
    position: sticky;
    width: 25%;
    height: 225px;
}
/*The Blue box is suppose to be angling below the Blue box with the same Measurements.*/