.content5{
    display: grid;

}
/**/

.red5{
    background-color: red;
    width: 80%;
    height: 400px;
}
/**/

.green5{
    background-color: green;
    width: 300px;
    height: 200px;
}
/**/

.yellow5{
    background-color: yellow;
    width: 300px;
    height: 200px;
    float: left;
}
/**/

.blue5{
    background-color: blue;
    width: 80%;
    height: 400px;
}
/**/