/* CSS - Name: "positionstyles.css" */

/* Activity 1 styles */
.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
}
/* This is the parent of the activity 1 boxes. */

    .red1 { 
        width: 100%; 
        height: 100px; 
        background-color: red; 
        grid-column: 1/3;
    } 
    /*This makes class "red1" full width.*/

    .blue1{
        background-color: blue;
        width: 100%;
        height: 100px;
        grid-column: 1/3;
    }
    /*This makes class "blue1" full width.*/

    .green1{
        background-color: green;
        height: 200px;
        width: 200px;
    }
    /**/

    .yellow1{
        background-color: yellow;
        height: 200px;
        width: 200px;
    }
    /**/

/* Activity 2 styles */ 
.content2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
}
/*I haven't a clue what this is class is for. I believe it serves as a Parent element???*/

    .red2{
        background-color: red;
        width: 100%;
        height: 225px;
        grid-area: 1/1/2/2;
        justify-self:initial;
        align-self: initial;
    }
    /*This puts the Red box with the right Measurements on the top-right corner.*/

    .green2{
        background-color: green;
        width: 100%;
        height: 225px;
        grid-area: 2/2/3/3;
        justify-self: initial;
        align-self: initial;
    }
    /*The Green box is suppose to be angling below the Red Box with the same Measurements.*/

    .yellow2{
        background-color: yellow;
        width: 100%;
        height: 225px;
        grid-area: 3/3/4/4;
        justify-self: initial;
        align-self: initial;
    }
    /*The Yellow box is suppose to be angling below the Green box with the same Measurements.*/

    .blue2{
        background-color: blue;
        width: 100%;
        height: 225px;
        grid-area: 4/4/5/5;
        justify-self: initial;
        align-self: initial;
    }
    /*The Blue box is suppose to be angling below the Blue box with the same Measurements.*/

/* Activity 3 styles */ 
.content3{
    display: grid;
    grid-template-columns: 1.2fr 0.6fr 1.2fr;
    grid-template-rows: 0.7fr 1.6fr 0.7fr;
    justify-items: center;
    gap: 0px 0px;
}
/*Parent class "content3" sets up the Grid Layout.*/
    .red3{
        background-color: red;
        width: 100%;
        height: 300px;
        grid-area: 1/1/2/4;
        justify-self: initial;
        align-self: initial;
    }
    /*Red is the header, it won't leave no Space on the Edges.*/
    .green3{
        background-color: green;
        width: 100%;
        height: 600px;
        grid-area: 2/1/3/2;
        justify-self: initial;
        align-self: initial;
        row-gap: 0.7fr;
        column-gap: 0px;
    }
    /*Green will be occupying the left side, connecting edges with Red and Blue.*/
    .yellow3{
        background-color: yellow;
        width: 100%;
        height: 600px;
        grid-area: 2/3/3/4;
        justify-self: intial;
        align-self: initial;
        row-gap: 0.7fr;
        column-gap: 0px;
    }
    /*Yellow will be occupying the right side, connecting edges with Red and Blue.*/
    .blue3{
        background-color: blue;
        width: 100%;
        height: 300px;
        grid-area:3/1/4/4;
        justify-self: initial;
        align-self: initial;
        margin-bottom: 1.3em;
    }
    /*Blue is the Footer, however, there's obvious space between Blue and the Bottom of the page.*/

 /* Activity 4 styles */ 
 .content4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
}
/**/
    .red4{
        background-color: red;
        width: 100%;
        height: 960px;
        grid-area: 1/1/4/2;
        justify-self: initial;
        align-self: intial;
    }
    /**/
    .green4{
        background-color: green;
        width: 100%;
        height: 320px;
        grid-area: 1/2/2/3;
        justify-self: inital;
        align-self: initial;
    }
    /**/
    .yellow4{
        background-color: yellow;
        width: 100%;
        height: 320px;
        grid-area: 2/2/3/3;
        justify-self: initial;
        align-self: initial;
    }
    /**/
    .blue4{
        background-color: blue;
        width: 100%;
        height: 320px;
        grid-area: 3/2/4/3;
        justify-self: initia;
        align-self: initial;
    }
    /**/

 /* Activity 5 styles */ 
 .content5{
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: o.7fr 1.7fr 0.9fr 0.7fr;
    gap: 0px 0px;
}
/**/
    .red5{
        background-color: red;
        width: 100%;
        height: 300px;
        grid-area: 1/1/2/3;
        justify-self: initial;
        align-self: initial;
    }
    /**/
    .green5{
        background-color: green;
        width: 100%;
        height: 510px;
        grid-area: 2/1/3/2;
        justify-self: initial;
        align-self: initial;
        z-index: 1;
    }
    /**/
    .yellow5{
        background-color: yellow;
        width: 100%;
        height: 625px;
        grid-area: 2/1/4/3;
        justify-self: initial;
        align-self: initial;
        float:right;
    }
    /*Text needs fixing.*/
    .blue5{
        background-color: blue;
        width: 100%;
        height: 300px;
        grid-area: 4/1/5/3;
        justify-self: initial;
        align-self: initial;
    }
    /**/

 /* Activity 6 styles */ 
 .content6{
    display: grid;
    grid-template-columns: 1fr 1fr 1.1fr 0.9fr;
    grid-template-rows: 1.3fr 0.7fr 1.6fr 1.6fr 0.1fr;
    gap: 0px 0px;
}
/**/

    .red6{
        background-color: red;
        width: 100%;
        height: 300px;
        grid-area: 1/1/2/3;
        justify-self: initial;
        align-self: initial;
    }
    /**/

    .green6{
        background-color: green;
        width: 100%;
        height: 260px;
        grid-area: 4/1/5/2;
        justify-self: initial;
        align-self: initial;
    }
    /**/

    .yellow6{
        background-color: yellow;
        width: 100%;
        height: 350px;
        grid-area: 3/4/5/5;
        justify-self: initial;
        align-self: initial;
    }
    /**/

    .blue6{
        background-color: blue;
        width: 100%;
        height: 480px;
        grid-area: 2/2/4/4;
        justify-self: initial;
        align-self: initial;
        z-index: 5;
    }
    /**/


/* Do not make any changes below here */
 .activity {
width: 600px; 
margin: 20px auto; 
font-family: Arial, sans-serif; 
border: 1px solid black; 
padding: 10px; 
clear:both; 
overflow: auto;
} 

.hint {
border: 1px solid grey;
background: #e0e0e0;
padding: .5em;
position: relative;
margin: 1em 0;
}
.hint h3 {
margin: 0;
}
.hint:hover {
background: #d0d0d0;
}
.hint > div {
display: none;
}

.hint input[type=checkbox] {
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
z-index: 1;
cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
display: block;
}

.hint i {
position: absolute;
transform: translate(-6px, 0);
margin-top: 16px;
right: 10px;
top: -3px;
}
.hint i:before, .hint i:after {
content: "";
position: absolute;
background-color: black;
width: 3px;
height: 9px;
}
.hint i:before {
transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
position: relative;
z-index: 1;
}