.content1{
    width: 80%;
    height: 500px;
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
/*This is for Parent class "content1".*/

    .red1{
        background-color: red;
        width: 100px;
        height: 100px;
    }
    /**/

    .green1{
        background-color: green;
        width: 100px;
        height: 100px;
    }
    /**/

    .yellow1{
        background-color: yellow;
        width: 100px;
        height: 100px;
    }
    /**/

    .blue1{
        background-color: blue;
        width: 100px;
        height: 100px;
    }
    /**/