nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}
/*The Navigation Panel and Footer are adjusted in the following:
Background Color is Steel Blue
Font Color is White
Padding is 10px thick.*/

footer p {
    font-size: 20px;
    margin: 20px auto;
}
/*The Paragraph of the Footer has a Font Size of 20px and a Margin of 20px.*/

a:hover {
    background-color: white;
    color: steelblue;
}
/*This is an interactive tool that changes the Hyperlinks in the NAVigation Panel to a Background Color of White and a Font Color of Blue once the cursro hovers over it.*/