.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    gap: 10px;
    background-color: grey;
    padding: 10px;
}

    .grid-container > div{
        background-color: red;
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
        color: grey;
    }